<div class="text-center m-5">
  <h2>Vous n'avez pas encore créé de menu et de liste de courses...</h2>
  <%= link_to new_meal_plan_path, class: "button-main-flow" do %>
    Créer un menu
  <% end %>
</div>
