<div class="container p-4">
  <div class="cards">
    <% @meals.each do |meal| %>
    <div class="card-product">
      <%= image_tag "meal_bidon.png", alt: meal.recipe.title %>
      <div class="card-product-infos">
        <h2><%= meal.recipe.title %></h2>
        <p><strong><i class="my-icon-time"></i></strong> <%= meal.recipe.prep_time %> minutes </p>
        <p><i class="my-icon-people"></i><strong> <%= meal.nb_people %> pers </strong></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
