.mealplan-new{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.8em;
}

.mealplan-new-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: $my-main-green;

  h1 {
    font-family: $headers-font;
    font-size: 32px;
    font-weight: bolder;
  }
}

.mealplan-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1.5rem;
}

.mealplan-form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $my-ivory;
  border-radius: $my-border-radius;
  margin-bottom: 20px;
  padding: 16px;
  box-shadow: $my-box-shadow;
}

.mealplan-form-label{
  font-size: 24px;
  margin-bottom: 10px;
  color: $my-dark-gray;
  font-family: $headers-font;
  text-align: center;
}

.mealplan-form-nb{
  display: flex;
  background-color: $my-yellow;
  color: $my-dark-gray;
  border-radius: $my-border-radius-pill;
  font-family: $headers-font;
  text-align: center;
  align-items: center;
}

.mealplan-form-nb-icons{
  font-size: 32px;
  padding: 0.5em;
  color: $my-dark-green;
}

.mealplan-form-nb-qty{
  font-size: 40px;
  font-weight: bold;
  background-color: $my-ivory;
  color: $my-dark-green;
  font-family: $headers-font;
  text-align: center;
  align-items: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  margin: 0;
}

.mealplan-form-button{
  text-align: center;
}

.mealplan-form-diets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mealplan-form-diet-option {
  width: 80px;

  .mealplan-form-diet-checkbox {
    display: none;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
}

.mealplan-form-diet-icon {
  padding: 12px;
  border-radius: 50%;
}

.mealplan-form-diet-icon-label {
  color: $my-main-green;
  line-height: 1.2em;
  padding: 4px;
}

.mealplan-form-diet-checkbox + label {
  cursor: pointer;

  .icon-fill {
    fill: $my-yellow;
  }

  .icon-stroke {
    stroke: $my-yellow;
  }
}

.mealplan-form-diet-checkbox:checked + label {

  .mealplan-form-diet-icon {
    background-color: $my-yellow;
  }

  .icon-fill {
    fill: $my-ivory;
  }

  .icon-stroke {
    stroke: $my-ivory;
  }

  .mealplan-form-diet-icon-label {
    font-weight: bold;
  }
}
