<div class="container mt-4" data-controller="grocery-items">
  <%# if @grocery_lists.where(bought: false).count != 0%>
    <div id="buy-title" class="row">
      <div class="col-10">
        <h3>Ma liste de courses</h3>
      </div>
      <div class="col-2">
        <div class="qty">
          <h3>Qty</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul id="list-buy" class="list-group-ingredient to-buy" data-grocery-items-target="list">
          <% @grocery_list.select { |item| item.bought == false }.each do |grocery_item| %>
            <%= render partial: "item", locals: {item: grocery_item}%>
          <%end%>
        </ul>
      </div>
    </div>
  <%#end%>
  <%# if @grocery_lists.where(bought: true).count != 0%>
    <div id="bought-title" class="row">
      <h3>Déjà au frigo</h3>
    </div>
  <%#end%>
    <div class="row">
    <div class="col-12">
      <ul id="list-bought" class="list-group-ingredient bought" data-grocery_items-target="list">
        <% @grocery_list.select { |item| item.bought == true }.each do |grocery_item| %>
          <%= render partial: "item", locals: {item: grocery_item}%>
        <%end%>
      </ul>
    </div>
  </div>
  <div class="grocery-btn-container d-flex justify-content-center align-items-center pb-3">
    <%= button_to "Trouve un magasin", {controller: "grocery_lists", action: "mapping"},  class: "button-grocery-form", method: :get %>
  </div>
</div>
