<%= render "shared/navbar_main" %>

<div class="text-center m-5">
  <h2>Vous n'avez pas encore créé de menu et de liste de courses...</h2>
  <div class="grocery-btn-container d-flex justify-content-center align-items-center py-3 clickable">
    <%= link_to new_meal_plan_path, class: "button-grocery-form clickable" do %>
      Créer un menu
    <% end %>
  </div>
</div>
<%= render "shared/navbar_bottom" %>
