<div class="navbar navbar-light navbar-lewagon sticky-top p-2">
  <div class="container-fluid px-3">
    <%= link_to backlink do %>
      <i class="my-icon-back pt-2 clickable-green-plus"></i>
    <% end %>
    <h1 class="d-flex text-center align-items-center pt-3 clickable"><%= title %></h1>
    <%= link_to new_meal_plan_path do %>
      <i class="my-icon-xmark pt-2 clickable-green-plus"></i>
    <% end %>
  </div>
</div>
