<div class="mx-autotext-center d-flex flex-column align-items-center justify-content-center">
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
  <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-info rounded-pill p-2 m-2" %>
  <%= link_to "New Meal Plan page", new_meal_plan_path, class: "nav-link btn btn-info rounded-pill p-2 m-2"  %>
</div>
