.button-go-search-form {
  @extend .btn;
  @extend .btn-primary;
  border-radius: $my-border-radius-pill;
  color: $my-sand;
  font-family: $headers-font;
  font-size: 48px;
  width: 70%;
  height: 1.5em;
  line-height: center;
}
