.button-go-search-form {
  @extend .btn;
  @extend .btn-primary;
  border-radius: $my-border-radius-pill;
  color: $my-sand;
  font-weight: bold;
  font-family: $headers-font;
  font-size: 1.8rem;
  width: 12rem;
  height: 3rem;
  line-height: center;
}
