.button-go-search-form {
  @extend .btn;
  @extend .btn-primary;
  border-radius: $my-border-radius-pill;
  color: $my-sand;
  font-family: $headers-font;
  font-size: 48px;
  width: 70%;
  height: 1.5em;
  line-height: center;
}

.button-grocery-form {
  @extend .btn;
  @extend .btn-primary;
  border-radius: $my-border-radius-pill;
  color: $my-sand;
  font-family: $headers-font;
  font-size: 24px;
  width: 70%;
  height: 2em;
  line-height: center;
  margin: 0 auto;
}

.grocery-btn-container {
  position: sticky;
  top: 904px;
}

.button_to{
  display: flex;
  justify-content: center;
}
