// to style the icons in the app (from font-awesome or elsewhere)

// For example :
// .fa-solid.fa-circle-chevron-right {
//   color: $my-main-green;
// }

.my-icon-people {
  @extend .fa-solid;
  @extend .fa-person;
  color: $my-main-green;
  size: 1.5x;
}

.my-icon-time {
  @extend .fa-solid;
  @extend .fa-hourglass-half;
  color: $my-main-green;
}

.my-icon-minus {
  @extend .fa-solid;
  @extend .fa-circle-minus;
  color: $my-yellow;
}

.my-icon-plus {
  @extend .fa-solid;
  @extend .fa-circle-plus;
  color: $my-yellow;
}

.my-icon-trash {
  @extend .fa-solid;
  @extend .fa-trash;
  color: $my-yellow;
}

.my-icon-replace {
  @extend .fa-solid;
  @extend .fa-rotate;
  color: $my-yellow;
}
