// to style the icons in the app (from font-awesome or elsewhere)

// For example :
// .fa-solid.fa-circle-chevron-right {
//   color: $my-main-green;
// }

.my-icon-people {
  @extend .fa-solid;
  @extend .fa-person;
  color: $my-main-green;
  size: 1.5x;
}

.my-icon-time {
  @extend .fa-solid;
  @extend .fa-hourglass-half;
  color: $my-main-green;
}

.my-icon-minus {
  @extend .fa-solid;
  @extend .fa-circle-minus;
  color: $my-yellow;
  cursor: pointer;
}

.my-icon-plus {
  @extend .fa-solid;
  @extend .fa-circle-plus;
  color: $my-yellow;
  cursor: pointer;
}

.my-icon-minus-wo-circle {
  @extend .fa-solid;
  @extend .fa-minus;
  color: $my-main-green;
  cursor: pointer;
}

.my-icon-plus-wo-circle {
  @extend .fa-solid;
  @extend .fa-plus;
  color: $my-main-green;
  cursor: pointer;
}


.my-icon-trash {
  @extend .fa-solid;
  @extend .fa-trash;
  color: $my-yellow;
}

.my-icon-replace {
  @extend .fa-solid;
  @extend .fa-rotate;
  color: $my-yellow;
}

.my-icon-not-bought {
  @extend .fa-regular;
  @extend .fa-circle-check;
  color: $my-yellow;
}

.my-icon-bought {
  @extend .fa-solid;
  @extend .fa-circle-check;
  color: $my-yellow;
}

.my-icon-burger-menu {
  @extend .fa-solid;
  @extend .fa-bars;
  color: $my-main-green;
}

.my-icon-home {
  @extend .fa-solid;
  @extend .fa-home;
  color: $my-main-green;
}

.my-icon-menu {
  @extend .fa-solid;
  @extend .fa-burger;
  color: $my-main-green;
}

.my-icon-grocery-list {
  @extend .fa-solid;
  @extend .fa-basket-shopping;
  color: $my-main-green;
}

.my-icon-map {
  @extend .fa-solid;
  @extend .fa-location-dot;
  color: $my-main-green;
}

.my-icon-user {
  @extend .fa-solid;
  @extend .fa-user;
  color: $my-main-green;
}

.my-icon-gluten {
  svg {
    width: 50px;
    height: 50px;
  }

  path {
    fill: $my-main-green;
  }

  &:hover path {
    fill: $my-red;
  }

  &:focus path {
    fill: $my-yellow;
  }
}
