.list-group-ingredient {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  padding: 0;
  gap: 0.5rem;
}

.list-group-ingredient-item {

  text-decoration: none;
  color: $my-dark-gray;
  font-size: 1rem;
  display: block;
}

.list-group-ingredient-content {
  display: grid;
  grid-template-columns: auto 6fr 1fr auto;
  gap: 1rem;
  // grid-auto-flow: column;
  grid-auto-rows: minmax(1rem, 2rem);
  align-items: center;
  // justify-content: space-between;
  border: none;
  padding: 0;
}

.list-group-ingredient-content-item {

  // text-decoration: none;
  color: $my-dark-gray;
  // font-size: 1rem;
  display: block;
  align-content: flex-start;
  justify-self: right;
}

.list-group-ingredient-content-item-name {

  // text-decoration: none;
  color: $my-dark-gray;
  // font-size: 1rem;
  display: block;
  align-content: flex-start;
  // width: 60%;
  justify-self: left;
  p {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    // width: 100px;
  }

}

.list-group-ingredient-content-item img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
