.navbar-lewagon {
  justify-content: space-between;
  background: $my-sand;
  border-bottom: 0.5px solid $my-main-green;
  position: sticky-top;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.navbar-lewagon h1 {
  color: $my-main-green;
}

.navbar-toggler-icon {
  color: $my-main-green;
}

.custom-dropdown-menu {
  background: $my-dark-green;
  border-radius: $my-border-radius;
  border: 0px solid $my-main-green;
  box-shadow: $my-box-shadow;
  margin: 8px;

  .custom-dropdown-item {
    color: $my-sand;
  }
}
