.navbar-lewagon {
  justify-content: space-between;
  background: $my-sand;
  border-bottom: 0.5px solid $my-main-green;
  margin-bottom: 20px;
  position: sticky-top;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width: 250px;
}
